body {
  margin: 0;
}
main {
  color: white;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  background-color: #21d4fd;
  background-image: linear-gradient(
    207deg,
    #2af598,
    #17cdc6,
    #5fc3ff,
    #009af7,
    #17cdc6,
    #2af598
  );
}
h1 {
  margin: 50px 0;
  font-size: 60px;
}
span {
  font-size: 30px;
  margin-top: 20px;
}
pre {
  font-size: 50px;
  margin: 10px;
  color: #2af598;
  font-weight: 800;
  text-shadow: 2px 2px 4px #0000005e;
}

button {
  box-sizing: content-box;
  padding: 20px 50px;
  margin: 20px auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
