html,
body {
  box-sizing: border-box;
  margin: 0;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
div main {
  color: #001f3f;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  background-color: #e0e0e0;
  padding: 20px;
  gap: 10px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
div h1 {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 30px;
}
div h1 > span {
  display: block;
  font-size: 60px;
}

div div {
  flex: 1;
}

ul {
  max-width: 600px;
  min-width: 505px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(auto-fill, 50px);
  grid-auto-flow: column;
  aspect-ratio: 1;
  border-radius: 50px;
  padding: 50px;
  background: #e0e0e0;
  box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
@media (max-width: 710px) {
  ul {
    aspect-ratio: unset;
    height: 100%;
    box-sizing: border-box;
  }
}

ul > li {
  min-height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: flex-start;
}

li > span {
  width: 20px;
  margin-top: 3px;
}

li > input {
  background: #e0e0e0;
}

li > label {
  margin-left: 10px;
  flex: 1;
  text-align: left;
  font-size: 20px;
}

input[type='checkbox'] {
  --active: #275efe;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #275efe;
  --background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  width: 21px;
  border-radius: 7px;
}
input[type='checkbox']:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s);
  opacity: var(--o, 0);
  width: 5px;
  height: 9px;
  border: 2px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}
input[type='checkbox']:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  --o: 1;
  --r: 43deg;
}
input[type='checkbox']:focus {
  box-shadow: 0 0 0 var(--focus);
}
